.logo {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #607d95;
}

header {
  background-color: #74b4e7;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  padding: 5px;
}

nav a:hover {
  background-color: #fff;
  color: #4caf50;
  border-radius: 5px;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  margin-bottom: 40px;
  width: 60%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-top: 0;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74b4e7;
  color: #fff;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: minmax(30px, 1fr);
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-content {
  min-height: calc(100vh - <footer-height>);
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  
  header h1 {
    font-size: 24px;
  }
  
  nav a {
    font-size: 14px;
    padding: 2px;
  }
  
  main {
    padding: 10px;
  }
  
  section {
    width: 100%;
  }
}